:root {
  --brand-color: #e1003c;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  color: var(--brand-color);
  border-bottom: 4px solid var(--brand-color);
}

.App-footer {
  border-top: 4px solid var(--brand-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
